Implementing Base32

Hi,

I would like to contribute implementing the Base32 encoding according to [RFC4648 §6](https://tools.ietf.org/html/rfc4648#section-6).
I need it for a project, so why not helping at the same time.

In order to reuse most of the code, I was thinking about template functions, that would match the current Base64 encoding functions, and a functor/function that will implement the encoding separatly.

This will allow to easily implement Base58 encoding or different alphabets for the encodings (e.g. Base64 URL-safe or Base32hex).

Hello,

We'd be happy to accept a patch adding base32 encoding functions.

Your idea reminds me of a somewhat similar plan I had a while back for implementing hex, base32, and base64 encoders by "compiling" a definition string to the encoding (eg base64 url's param string would be "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789-_"). Right now we already implement 2 different base64 encodings (standard and bcrypt) and will likely need URL base64 in the future. And there are at least 3 base32 encodings (standard, base32hex, and zbase32). Being able to handle all of these in one set of functions would be a nice simplification. Though I think it would be difficult (AIUI) to implement base58 in the same way since it demands integer division instead of simple bit extractions.

To start maybe just implement base32 (using whatever approach you prefer) and we can get that reviewed/merged. Then if it can be easily adapted to also take on the work of the existing base64/hex encoding code we can handle that conversion as a distinct PR. Note also we do require covering tests for all new code, though that shouldn't be a big problem here.

Also, maybe adding a bit of challenge here, but unfortunately (due to still supporting MSVC 2013) we can't use `constexpr`, not even the limited C++11 `constexpr` :/

I'll leave this issue open and if you have any questions or problems just add a comment here.

Thank you for your answer.

As you mentioned, giving the alphabet as argument might be a way to easily provide base64 URL-safe or Base32hex using the same code.
This could become simple template aliases.

It was obvious to me to implement tests to cover the new code, I will add it into my PR when ready.

I will keep in mind everything you said to make it simple to update the code.

Since everything is merged now, I can close this issue.
I will open a new one to migrate Base64 algorithm to match the Base32 implementation.