Parameters (curve identifier) missing in DER encoding of EC private keys

I noticed that Botan doesn't include the optional `parameters` field (curve identifier) when encoding an `ECPrivateKey` ASN.1 structure in `EC_PrivateKey::private_key_bits`.

[RFC 5915, section 3](https://datatracker.ietf.org/doc/html/rfc5915#section-3) defines that structure as:

    ECPrivateKey ::= SEQUENCE {
        version        INTEGER { ecPrivkeyVer1(1) } (ecPrivkeyVer1),
        privateKey     OCTET STRING,
        parameters [0] ECParameters {{ NamedCurve }} OPTIONAL,
        publicKey  [1] BIT STRING OPTIONAL
    }

And it explicitly requires the field to be encoded:

     Though the ASN.1 indicates that
     the parameters field is OPTIONAL, implementations that conform to
     this document MUST always include the parameters field.

While Botan encodes the, also optional, `publicKey` field, which the RFC only (strongly) recommends

      Though the ASN.1 indicates
      publicKey is OPTIONAL, implementations that conform to this
      document SHOULD always include the publicKey field.

it omits the `parameters` field.

For reference, both OpenSSL and wolfSSL always encode the parameters.

Botan conventionally uses PKCS8 which includes the curve in an outer structure wrapping `ECPrivateKey` but I suppose there is relatively little harm in including it redundantly.  We cannot (at least until support for explicit curves is dropped in Botan4) always include the curve OID, since there are keys for which it does not exist, but it seems fine to include it in the common case where it is available.