OIDs for EC Keys in Certificates

[RFC 5480, Section 2.1](https://datatracker.ietf.org/doc/html/rfc5480#section-2.1) defines two OIDs that can be used for EC Algorithms in certificates:
> o _id-ecPublicKey_ indicates that the algorithms that can be used with the subject public key are unrestricted.  The key is only restricted by the values indicated in the key usage certificate extension (see Section 3).  id-ecPublicKey MUST be supported. See Section 2.1.1.  This value is also included in certificates when a public key is used with ECDSA.

> o i_d-ecDH_ indicates that the algorithm that can be used with the subject public key is restricted to the Elliptic Curve Diffie- Hellman algorithm. See Section 2.1.2. id-ecDH MAY be supported.

In short: _id-ecPublicKey_ can be used with ECDSA or ECDH, while _id-ecDH_ can only be used with ECDH. In Botan, we always use _id-ecPublicKey_ when encoding SubjectPublicKeys with ECDSA and _id-ecDH_ when encoding them with ECDH. Also, Botan always imports SubjectPublicKeys with OID _id-ecPublicKey_ as ECDSA keys.

While this is standard-compliant, there is the following issue: Almost nothing out there supports the _id-ecDH_ OID. OpenSSL and Bouncycastle do not recognize this OID. Tools like the Windows certificate view or XCA also do not recognize it. It seems there is a silent agreement to always use _id-ecPublicKey_ for both ECDSA and ECDH.

The main problem I see is that Botan currently exports certificates with ECDH keys in a way most tools do not understand. A minor inconvenience is that Botan imports public keys from certificates always as ECDSA keys, which could be ECDH keys. What do you think?

> For Botan, we could also deprecate ECDH and ECDSA keys and collect the logic for both in the EC_PublicKey/EC_PrivateKey pair with a key_agreement_op, signature_op, and a verification_op (similar to RSA). Something for Botan 4?

Not happening.

> My intuition is that only a few applications need to create certificates with ECDH keys anyway.

That seems very likely to me. I've never seen one in the wild myself.

 > Probably, we only want to export ECDH certificates with id-ecPublicKey if the entire roundtrip works with Botan, i.e., importing the certificate can recover the ECDH key.

Absolutely yes.


> I've never seen [an ECDH-certificate] in the wild myself.

I wouldn't be surprised if that changed once people migrate their "authenticated key exchange"-protocols towards hybrid PQC. More people might want to go the [AuthKEM](https://datatracker.ietf.org/doc/draft-celi-wiggers-tls-authkem/) route and ditch the live signature in favor of a long-lived KEM public key where authentication is achieved by a successful key confirmation. I'm leaving the question of perfect-forward secrecy aside for now.

> For Botan, we could also deprecate ECDH and ECDSA keys and collect the logic for both in the EC_PublicKey/EC_PrivateKey pair with a key_agreement_op, signature_op, and a verification_op (similar to RSA). Something for Botan 4?

This does sound like a hard sell to me as well. Though, one could consider introducing a notion of "allowed key usage" to the (asymmetric) key objects. For most algorithms that could be completely transparent, because they support exactly one usage type anyway. For ECC and RSA one could enforce specifying a key usage at construction (just like today for ECC via explicit derived types). Certificates could then just "project" their key restrictions onto whatever falls out of `X509_Certificate::public_key()`. (Disclaimer: @FAlbertDev initially suggested that in a discussion earlier.)

Anyway, I'm not saying that this is optimal either, just putting it up for discussion.

> I wouldn't be surprised if that changed once people migrate their "authenticated key exchange"-protocols towards hybrid PQC.

Sure, that transition is going to happen, but hopefuly the OIDs for hybrid PQC KEMs don't make a similar mistake here, and just encode exactly what they are. Vs, oh this key? Yeah it's ECDH+ML-KEM. Or ECDSA+ML-KEM if you want it to be. 😬 