Fix failing TLS-Anvil test caused by not recognizing DH groups

Oops - I knew that did something.

I only noticed this after spinning the 3.2.0 release :/ probably a lesson that the previous idea of no major code changes in the 5-7 days before the release was there for a reason.

```
Error: server.tls12.rfc7919.FfDheShare.abortsWhenGroupsDontOverlap - Unexpected result 'FULLY_FAILED'
  
  Class Name: 'de.rub.nds.tlstest.suite.tests.server.tls12.rfc7919.FfDheShare'
  Method Name: 'abortsWhenGroupsDontOverlap'
  
  RFC 7919, Section 4. Server Behavior:
  If a compatible TLS server receives a Supported Groups extension from a client that includes any FFDHE group (i.e., any codepoint between 256 and 511, inclusive, even if unknown to the server), and if none of the client-proposed FFDHE groups are known and acceptable to the server, then the server MUST NOT select an FFDHE cipher suite.[...]If the extension is present with FFDHE groups, none of the client's offered groups are acceptable by the server, and none of the client's proposed non-FFDHE cipher suites are acceptable to the server, the server MUST end the connection with a fatal TLS alert of type insufficient_security(71).
  
  Result: FULLY_FAILED (expected STRICTLY_SUCCEEDED)
```

@reneme I *knew* that range check was there for something :sob:

Mhh, on the plus side: the TLS-Anvil tests did pay off (cc @FAlbertDev)!

I'm assuming you didn't see the failure before going ahead with the release? Perhaps we should make the fail of the nightly more prominent. For instance, a failing nightly build could automatically open an issue. 



@reneme Exactly so, I totally missed the badge being red until after the release. Had I seen it, I would have held off on the release until the issue was diagnosed.

Automatically opening an issue on nightly test failure sounds great, and probably would have avoided this happening. Is that easy to do with Actions?

> Is that easy to do with Actions?

This shouldn't be too hard. One can use the Git CLI tool from within an Actions script (or python wrappers like [PyGithub](https://github.com/PyGithub/PyGithub)). Potentially, the job needs to be configured with some elevated permissions to be allowed to do that.