DTLS v1.3

Holding ticket

_Originally posted [here](https://github.com/randombit/botan/issues/1961), but this ticket is probably more appropriate._

It turns out we have a use case for DTLS 1.3 and will likely start working on an implementation based on the existing TLS 1.3 code. I did a first read-through of [RFC 9147](https://www.rfc-editor.org/rfc/rfc9147.html) and below are some scratchy notes on what probably has to be done. At this point, we're not ready to provide an exact time frame for this, but it should be measured in months not in years.

**TL;DR:** We'll probably need alternative implementations or significant extensions of `TLS::Record_Layer`, `TLS::Handshake_Layer`, and `TLS::Cipher_State`. All the higher layers of the protocol, particularly the implementation of the actual handshake messages and the TLS state machines in `TLS::[Client/Server]_Impl_13` can probably stay mostly untouched.

* **Record Layer**
  * Support demux of DTLS records ✅ 
  * Handling of Epoch and Sequence Number ✅
  * Deprotection of Epoch/SeqNumber (see [here](https://www.rfc-editor.org/rfc/rfc9147.html#name-record-number-encryption)) ✅
  * Replay protection via a sliding window per epoch ✅

* **Handshake Layer**
  * Fragmentation (additional header values + handling of them) ✅
    Note: Transcript hash is calculated from the TLS marshalling (w/o the additional headers)
  * Allow re-fragmenting handshake messages if necessary (MTU discovery)
  * Timeout and Retransmission
    * Handle the retransmission state machine (see [RFC 9147 Section 5.8.1](https://www.rfc-editor.org/rfc/rfc9147.html#section-5.8.1))
    * Example: https://www.rfc-editor.org/rfc/rfc9147.html#section-6
    * Probably `Handshake_Layer_13` will need to be able to actively create messages (i.e. ACKs)

* **Key Management in `Cipher_State`**
  * Explicit cipher state handling (Epochs) ⏳
    Out-of-order messages at epoch boundaries requires keeping multiple sets of keys for some period ⏳
  * Adopt DTLS-specific HKDF labels ✅

* **Handshake Messages and Extensions**
  * ClientHello/HelloRetryRequest
    * Add active support of [the Cookie extension](https://www.rfc-editor.org/rfc/rfc8446#section-4.2.2) for [DoS protection](https://www.rfc-editor.org/rfc/rfc9147.html#name-denial-of-service-counterme) in the server implementation.
    * Optionally always enforce Hello Retry Request (see also [here](https://github.com/randombit/botan/issues/2318))
  * Client Hello
    * additionally contains a legacy_cookie field from DTLS 1.2
  * ACK Message ⏳

  * Optional? New Post-Handshake Message: RequestConnectionID
  * Optional? New Post-Handshake Message: NewConnectionID
  * Optional? [Connection_ID extension](https://www.rfc-editor.org/rfc/rfc9146.html)

* **Misc**
  * DTLS 1.3 _does not_ support TLS 1.3 "compatibility mode"
  * [RFC 9147 5.11](https://www.rfc-editor.org/rfc/rfc9147.html#name-establishing-new-associatio) specifies epoch0-restart (e.g. re-association after a client restarted): we'll likely not implement this in DTLS 1.3, see also: https://github.com/randombit/botan/pull/5793#issuecomment-5179440993

@atreiber94 and I are starting to work on this. It'll be some time before anything lands of course. We're planning to introduce a new `dtls13` module that allows disabling support for DTLS 1.3 at compile time and to centralize DTLS-variants of the internal TLS structures. If it appears sensible, we might -- at some point -- flag this new module as "experimental" and start opening pull requests for integration even before the full implementation is ready to go.

At this point, we don't expect a fully functional implementation to be ready in time for Botan 3.13 but certainly 3.14 is a reasonable goal.

FYI: @randombit 

@reneme Great. FYI I have a WIP branch addressing some issues with DTLS 1.2 handshaking (retransmit logic, etc) I'll try to get that up ASAP to minimize conflicts.