CRLs without a nextUpdate indication currently fail to parse

The standard is murky here. [RFC 5280 Section 5.1](https://www.rfc-editor.org/rfc/rfc5280#section-5.1) defines the `nextUpdate` field as "OPTIONAL", but [Section 5.1.2.5](https://www.rfc-editor.org/rfc/rfc5280#section-5.1.2.5) declares that "conforming CRL issuers MUST include the nextUpdate field in all CRLs" and that "the behavior of clients processing CRLs that omit nextUpdate is not specified". Apparently, the underlying X.509 standard defined `nextUpdate` to be optional, but RFC 5280 tries to make it mandatory. Obviously, that means that both types exist in the wild. 😢

Botan currently refuses to parse CRLs that omit `nextUpdate` and throws an `Invalid_Argument` exception. FWIW, OpenSSL supports parsing such CRLs:

```
&> openssl crl -in crl.pem -text -noout
Certificate Revocation List (CRL):
        Version 2 (0x1)
        Signature Algorithm: ecdsa-with-SHA384
        Issuer: [...]
        Last Update: Feb 12 12:17:53 2025 GMT
        Next Update: NONE
        CRL extensions:
           [...]
        Revoked Certificates:
           [...]
```

Supporting such CRLs shouldn't be hard to do, but do we want to?
... the getter `X509_CRL::next_update()` returns a reference to an `ASN1_Time` object. If no `nextUpdate` field was found in the CRL, this would then have to return a default-constructed `ASN1_Time` or (perhaps in Botan4) change its return type to `std::optional<ASN1_Time>`. The path validation would have to take this into account regardless.

> Supporting such CRLs shouldn't be hard to do, but do we want to?

Do I want to, not really :joy: but if you are running into something like this in the wild it suggests it happens, and not being able to parse the CRL at all isn't great either.

> If no nextUpdate field was found in the CRL, this would then have to return a default-constructed ASN1_Time or (perhaps in Botan4) change its return type to std::optional<ASN1_Time>.

Sounds about right. We can just keep `m_next_update` in `CRL_Data` as-is, but it is unset if the field isn't there. A future function that returned an `optional` could check if the date field had an inner value (`ASN1_Time::time_is_set`) before returning it. Almost all of the ASN.1 types have some kind of internal nullability since that's how we do decoding. Which I don't particularly like, and hope to fix someday, but it works out in our favor in this particular case.
