Botan accepts a certificate whose serial number is zero

Botan accepts a certificate whose serial number is zero which is forbidden by RFC 5280 and its errata.The Botan version I'm using is 3.11.0. The certificate should be rejected according to Sec. 4.1.2.2 in RFC 5280 "The serial number MUST be a positive integer assigned by the CA to each certificate" and the errata  #3200 "The serial number MUST be a positive non-zero integer assigned by the CA to each certificate".

[test.zip](https://github.com/user-attachments/files/27794124/test.zip)

Those statements are constraints on issuing CAs rather than on relaying parties. RFC 5280 also says

>   Note: Non-conforming CAs may issue certificates with serial numbers
>   that are negative or zero.  Certificate users SHOULD be prepared to
 >  gracefully handle such certificates.