Comparison of X509_DN is stricter than defined in RFC 5280

The comparison of distinguished names (DN) seems to be defined in [section 7.1 of RFC 5280](https://datatracker.ietf.org/doc/html/rfc5280#section-7.1).

Although the algorithm requires that the relative distinguished names (RDN) are in the same order,
the same seems not to apply to the attributes in the RDNs.

> Two relative distinguished names
> RDN1 and RDN2 match if they have the same number of naming attributes
> and for each naming attribute in RDN1 there is a matching naming
> attribute in RDN2.  Two distinguished names DN1 and DN2 match if they
> have the same number of RDNs, for each RDN in DN1 there is a matching
> RDN in DN2, and the matching RDNs appear in the same order in both
> DNs.  A distinguished name DN1 is within the subtree defined by the
> distinguished name DN2 if DN1 contains at least as many RDNs as DN2,
> and DN1 and DN2 are a match when trailing RDNs in DN1 are ignored.

Botan however is flattening the structure during decoding. And then for comparison enforces that all attributes are in the same order.
But if there are multiple attributes in a RDN, they should be allowed to be in an arbitrary order.

Don't know how relevant this stricter comparison is in practice. We so far didn't have any issues with this, and only noticed this then we looked at the code for an unrelated task.

Interesting! Thanks for bringing up this issue.

I am wondering how other implementations perform this comparison.

(CC @guidovranken - this might be an interesting test for CryptoFuzz. Not sure if you are doing anything with X.509 yet)

Thanks for the suggestion @randombit , I actually tried that ([and found a vuln](https://github.com/ARMmbed/mbedtls/commit/ca17ebfbc02b57e2bcb42efe64a5f2002c756ea8)) but unlike cryptographic primitives, whose expected output is almost always very clearly prescribed and therefore universal, the handling of the X509 format by various libraries is more lax and resulted in too many false positives.

Removing this from the 3.0 milestone. Probably worth looking into but I don't think it is pressing.